<div class="hero">
	<div class="grid grid--medium wrapper-nopadding pad_medium-top">
	<!-- <div class="wrapper-large"> -->
		<div class="hero__intro">
			<h1 class="fw-semibold">Connect & discuss the money of the future 🍻</h1>
			<p class="fw-light">CryptoBeers are a fun evening for the cryptocurrency community to get together and discuss various topics that keep the crypto world busy while enjoying a fresh beer (or cola).</p>
			<div class="mar_large-bottom">
				<button class="btn-cta mar_small-right">Become an organizer</button>
				<button class="btn--invert">See all cities</button>
			</div>
		</div>
		<div class="hero__image">
			<img src="images/cryptominded-city.png">
		</div>
	<!-- </div> -->
	</div>
</div>