<header class="top">
	<div class="wrapper-nopadding">
		<div class="inner-header">
			<div class="logo">
				<h6>Cryptobeers</h6>
			</div>
			<nav class="menu">
			  <ul>
			    <li><a href="#">What is Cryptobeers?</a></li>
			    <li><a href="#">Become an organizer</a></li>
			    <li><a href="#">Contact</a></li>
			  </ul>
			</nav>
		</div>
	</div>
</header>